@font-size: 13px;
@line-height: 18px;

@color1: #444;
@color2: gold;
@color3: #00B7FF;
@color4: rgb(122, 151, 170); 


body {
  font-family: 'Carrois Gothic', sans-serif;
  font-size: @font-size;
  line-height: @line-height;
  text-align: center;
  color: @color1;
}

a {
  color: @color3;
}

h1, h2, h3 {
    margin-bottom: @line-height;
}

h1, h3 {
    color: @color2;
}


#audio {
    display: inline-block;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: @font-size;
    line-height: @line-height;
}

button:hover {
    background-color: @color4;
    color: white;
}

input[type="text"] {
    outline: 1px solid black;
    border: none;
}

textarea {
    width: 100%;
    outline: 1px solid @color1; 
    border: none;
    padding: none;
    margin: none;
    min-height: 300px;
}

.ShelfCollection{
    .shelf-create-box{
        margin-bottom: 18px;
    }
    .Shelf{
        text-align: left;
        .shelf-menu-item{
            cursor:pointer;
            &:hover{
                color: black;
            }
            &.selected{
                background-color: @color4;
                color:white;
            }
        }
    }
    .shelf-create-box{
        margin-bottom: @line-height;
    }
}

button {
    padding: 3px;
}
#mediaplayer{
    .next {
        margin-left: @line-height;
    }
    .previous {
        margin-right: @line-height;
    }
    
    .upload{
        position:absolute;
        bottom:4px;
        right:4px;
    }
}


.ConnectionWidget{
    .new_conn{
        td{
            vertical-align: top;
        }
        div{
            margin:3px;
        }
        .in,.out,textarea.annotation{
            width:300px;
            height:80px;
            border:1px solid @color2;
            min-height: 0;
            display: block;
        }
    }
}