@font-face {
    font-family: 'osp-din';
    src: url('fonts/osp-din-webfont.eot');
    src: url('fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/osp-din-webfont.woff') format('woff'),
         url('fonts/osp-din-webfont.ttf') format('truetype'),
         url('fonts/osp-din-webfont.svg#osp-dindin') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  padding: 50px;
  font: 14px "osp-din", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font: 14px "osp-din", Helvetica, Arial, sans-serif;
}


@shelfHeight:122px;

.shelf-top-box{
    position:absolute;
    bottom:0;
    left:0;
    height:@shelfHeight;
    width:100%;
    border-top:1px solid gray;
    
    .shelf-box{
        position:absolute;
        left:122px;
        right:122px;
        height:@shelfHeight;
        overflow:auto;
        background-color:#eee;
        
        .shelf-title-box{
            display:none;
        }
    }
    
    .shelf-menu-box{
        position:absolute;
        height:@shelfHeight;
        width:122px;
        bottom:0;
        left:0;
        overflow:auto;
        border-right:1px solid gray;
        .shelf-menu-item{
            cursor:pointer;
            &:hover{
                color:gray;
            }
            &.selected{
                background-color:black;
                color:white;
            }
        }
    }
    .shelf-create-box{
        position:absolute;
        bottom:0;
        right:0;
        height:@shelfHeight;
        width:122px;
        border-left:1px solid gray;
    }
    
}
