<div>
Art school <a href="http://www.rits.be/rits/opleiding/radio">Rits | Radio</a>
and <a href="http://constantvzw.org">Constant vzw</a> have committed to setting
up an archiving experiment. The various festival events and activities are
documented online and accessed according to the philosophy of living archive
(open source). Except for documentation purposes, the archives can also be used
as part of a workshop during the creation process, as well as a radio and even
presentation platform. During Tuned City Brussels, the public can access
audio-visual contributions, but also interviews with speakers and artists.
</div>

<div>
Kunsthogeschool <a href="http://www.rits.be/rits/opleiding/radio">Rits |
    Radio</a> en <a href="http://constantvzw.org">Constant vzw</a> engageren
zich om in het kader van Tuned City Brussels een archiveringsexperiment te
realiseren. De verschillende evenementen en activiteiten worden online
gedocumenteerd en ontsloten volgens de filosofie van het living archive (open
source). Behalve ter documentatie, fungeert het archief ook als werkatelier
­tijdens het creatieproces, evenals radio- en zelfs presentatieplatform.
Tijdens Tuned City Brussels kan het publiek er naast audiovisuele bijdragen
interviews vinden met relevante sprekers en artiesten.
</div>

<div>
L’école supérieure des arts <a
    href="http://www.rits.be/rits/opleiding/radio">Rits | Radio</a> et <a
href="http://constantvzw.org">Constant asbl</a> s’engagent, dans le cadre de
Tuned City Brussels, à réaliser une expérimentation d’archivage. Les différents
événements et activités du festival seront documentés en ligne et accessibles
sur base de la philosophie de la ‘living archive’ (open source).  Outre le but
documentaire, les archives font également office d’atelier de travail durant le
processus de création, ainsi que de plate-forme radiophonique, voire même de
présentation. Pendant Tuned City Brussels, le public pourra retrouver, en plus
de contributions audiovisuelles, des interviews avec des orateurs et artistes
pertinents.
</div>
