
    <div class="shelf-title-box">
    <div class="shelf-title"><%- data.title %> <span class="count"><%= data.bookmarks.length %></span></div>
    </div>
    <div class="shelf-items">
    <% for(var i=0; i < data.bookmarks.length; i++){ var b = data.bookmarks[i];%>
        <div class="BookmarkDelete" id="BookmarkDelete_<%= b._id %>">&times; </div>
        <div class="Bookmark" id="Bookmark_<%= b._id %>">
            
            <div class="BookmarkPlay route" data-route="bookmark/play/<%= b._id %>">
                <span class="bookmark-title"><%- b.note %></span>
                <% if(b.cursor && b.cursor.media){ %>
<!--                 <a rel="embed" href="/poster/<%- b.cursor.media._id %>"><%- b._id %></a> -->
                <% } %>
            </div>
        </div>
    <% } %>
    </div>
