<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/jquery.jplayer.min.js"></script>
    <script src="/javascripts/MediaPlayer.js"></script>
    <script src="/javascripts/Path.js"></script>
    <script src="/javascripts/index.js"></script>
    
  </head>
  <body>
    <h1>Tuned City Archive: <%= title %></h1>
    <div id="tc_wrapper" />
  </body>
</html>
