<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/backbone.js"></script>
    
    <script src="/js/models.js"></script>
    <script src="/js/collections.js"></script>
    <script src="/js/views.js"></script>
    <script src="/js/app.js"></script>
    
    <script src="/js/index.js"></script>
    <body>
  </body>
</html>
