<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<<<<<<< HEAD
    
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
=======
    <!--<link rel='stylesheet' href='/stylesheets/reset.css' />-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <!--<link rel='stylesheet' href='/javascripts/mediaelement/mediaelementplayer.min.css' />-->
    <!--<link rel='stylesheet' href='/stylesheets/jquery.jcursor.css' />-->
    <!--<link rel='stylesheet' href='/stylesheets/ui-lightness/jquery-ui-1.10.2.custom.css' />-->
    <!--<link rel='stylesheet' href='/stylesheets/layout-default-latest.css' />-->
    <!--<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>-->
>>>>>>> 8823d17361ed0afc8d7cf09acf957f86027610b9
    <script src="/js/lib/underscore-min.js"></script>
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/backbone.js"></script>
    
    <script src="/js/models.js"></script>
    <script src="/js/collections.js"></script>
    <script src="/js/views.js"></script>
    <script src="/js/app.js"></script>
<<<<<<< HEAD
    
    <script src="/js/index.js"></script>
    <body>
=======
  </head>
  <body>
      <!--<div class="ui-layout-center">-->
        <!--<h1>Tuned City Archive: <%= title %></h1>-->
        <!--<h2>yo</h2>-->
        <!--<div class="time">yo</div>-->
        <!--<div id="tc_wrapper"></div>-->
        <!--<div id="audio"></div>-->

        <!--[> a source needs to be set for mediaelementjs to be happy <]-->
        <!--<video id="mediaelement-player" src="#"></video>-->
      <!--</div>-->
      <!--<div class="ui-layout-east">-->
      <!--<h3>Shelves</h3>-->
      <!--</div>-->


    <!--<script src="/javascripts/jquery-1.9.1.min.js"></script>-->
    <!--<script src="/javascripts/jquery-ui-1.10.2.custom.min.js"></script>-->
    <!--<script src="/javascripts/jquery.layout-latest.min.js"></script>-->
    <!--<script src="/javascripts/mediaelement/mediaelement-and-player.min.js"></script>-->
    <!--<script src="/javascripts/jquery.dform-1.0.1.min.js"></script>-->
    <!--<script src="/javascripts/underscore-min.js"></script>-->
    
    <!--<script src="/javascripts/timecode.js"></script>-->
    <!--<script src="/javascripts/MediaPlayer.js"></script>-->
    <!--<script src="/javascripts/Path.js"></script>-->
    <!--<script src="/javascripts/Shelf.js"></script>-->
    <!--<script src="/javascripts/Form.js"></script>-->
    <!--<script src="/javascripts/Resolver.js"></script>-->
    
    <!--<script src="/javascripts/app.js"></script>-->
    <!--<script src="/javascripts/index.js"></script>-->
>>>>>>> 8823d17361ed0afc8d7cf09acf957f86027610b9
  </body>
</html>
