<!DOCTYPE html>
<html>
    <head>
        <title>jquery.dynamic-img.js</title>
    </head>
    <body>
        <a rel="embed" href="/poster/516e66d530d93b9c2b000001"/>img</a>
        <script src="/js/lib/jquery.js"></script>
        <script src="/js/lib/jquery.dynamic-img.js"></script>
        <script>
        jQuery(document).ready(function($) {
            $('[rel="embed"]').dynamicImg();
        });
        </script>
    </body>
</html>
