<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Tuned city</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/path.css' />
</head>

<body>
    <div id="logo">Tuned City Archive</div>

    <section id="path">
        <header>
            <h1>Jonathan Burrows on Scores</h1>
        </header>

        <nav id="main-controls">
            <div class="slider"><a class="handle" style="left: 10%"></a></div>
            <span class="btn-play">▸ walk through</span>
            <span class="btn-previous">prev</span>
            <span class="btn-next">next</span>
            <span class="waypoint">3/19</span>
        </nav>


        <section class="media">
            <img src="static/img/screenshot.jpg" /> 
            <aside class="connexion">
                <ul>
                    <li>The Tuning Scores</li>
                </ul>
            </aside>
        </section>

        <section class="annotation active">
            <p>
            In a nearly one hour long interview Burrows explains the way in which
            he works with scores, giving mostly examples from his choreographies:
            <cite>the film choreography Hands</cite> (1995), <cite>The Stop Quartet</cite> (1996), <cite>Both
                Sitting Duet (2002)</cite>. <cite>Hands, made for television</cite> in 1995, for the
            BBC/Arts Council, was the first time Jonathan worked with a score.
            However, The Stop Quartet, a piece for four dancers made in 1996, is
            the first score discussed here.
            </p>
        </section>

        <section class="media">
            <img src="static/img/screenshot.jpg" /> 
        </section>

        <section class="annotation">
            <p>
                Jonathan Burrows contextualizes the interview in 2011: “The
                memory is very clear of Myriam talking with me about The Stop
                Quartet and Both Sitting Duet. The conversation challenged me
                to attempt to articulate what it was that I thought I was
                doing: why I wanted to work in this way with rhythm and
                counterpoint, and how I was thinking about materials and
                performance. My feeling re-reading the interview is that I was
                struggling to make sense of what was in my mind, and I think
                I’ve said it perhaps more clearly since, but the talk provoked
                a particular line of questioning which stays relevant for me
                even now.”
            </p>
        </section>

        <section class="media audio">
            <div class="slider"><a class="handle" style="left: 10%"></a></div>
            00:05<br />
            ►<br />
            Jonathan Burrows on scores.ogg
            <!--<audio class="player" controls="" src="http://repo.sarma.be/Jonathan%20Burrows%20on%20scores.ogg"></audio>-->
        </section>

        <section class="annotation"> 
            <p>
                Jonathan Burrows introduces the principles of The Stop Quartet.
            </p>
        </section>

        <section class="media">
            <img src="static/img/screenshot.jpg" /> 
        </section>

        <section class="annotation">
            <p>
                Matteo Fargion assisted Burrows in making the score for The
                Stop Quartet. One of the other musical collaborators for that
                piece, Kevin Volans, had introduced them to a scored way of
                working by Shobana Jeyasingh, a South Indian choreographer,
                based in London, who previously worked with Volans. Burrows is
                interested in Jeyasinghs method to use graph pahper, but when
                trying to compose in a similar way he “ran into a mess” and
                with the help of Matteo he then used another related notational
                system based on an African method of notating rhythm systems.
            </p>
        </section>
    </section>
    <footer></footer>


    <script src="../../app/public/js/lib/jquery.js"></script>
    <script src="../../app/public/javascripts/jquery-ui/js/jquery-ui-1.10.2.custom.js"></script>
    <script src="static/js/init.js"></script>
</body>
</html>
